/* For firefox */
*{
    scrollbar-width: thin!important;
    /* scrollbar-width: auto!important; */
    /* scrollbar-width: none!important; */
    scrollbar-color: black white;
}

html::-webkit-scrollbar {
    width: 10px;
}

/* For the rest */
html::-webkit-scrollbar-thumb {
    background-color: rgb(66, 66, 66);
    border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: rgb(43, 43, 43);
    border-radius: 5px;
}

html::-webkit-scrollbar-track {
    background-color: grey;
}