*, *::after, *::before{
    box-sizing: border-box;
}

*{
    font-size: 1.15rem;;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container{
    text-align: justify;
    margin: 20px auto;
    max-width: 80%;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
}

.message-list{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
    background-color: transparent;
    /*Optional*/
    max-height: 200px;
    overflow: hidden;
}

.message{
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgba(255, 0, 0, 0.767);
    border-radius: 10px;
    z-index: 10;
}

.faceinout{
	animation: fadeInOut 2s;
}

@keyframes fadeInOut {
	0% { opacity:0; }
	33% { opacity:1; }
	66% { opacity:1; }
	100% { opacity:0; }
}