body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container{
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory; /*Snap to the next*/
    overflow: auto;
    /*Horizontal snap
    scroll-snap-type: x proximity; Snap to the closest
    overflow-x: scroll;
    display: flex;
    */
}

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

section:nth-child(1){
    background-color: rgb(28, 28, 28);
    color: green;    
}

section:nth-child(2){
    background-color: rgb(38, 38, 38);
    color: blue;    
}

section:nth-child(3){
    background-color: rgb(48, 48, 48);
    color: yellow;    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15em;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255,255,255,0);
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #009578;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #6dcdb1;
}