*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #121212;
}

.chart-body{
    padding: 25px;
    padding-top: 50px;
    border-radius: 20px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
    background: #2e2e2e;
}

.chart-serie{
    position: relative;
    width: 50px;
    border-radius: 5px;
    background: var(--color);
    transform-origin: bottom center;
    animation: rise 1s linear forwards
}

.chart-title{
    text-align: center;
    position: relative;
    top: -25px;
    color: #fff;
}

@keyframes rise{
    0%{
        height: 0;
    }
    100%{
        height: var(--i);
    }
}